html {
  height: 100%;
  width: 100%;
}
body{
  background-color: #dbeeff;
}
.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo p{
  font-size: 50px;
  color: #003366;
  font-weight: bold;
}
.titulo img{
  width: 500px;
  margin: 50px;
}
.enlace{
  display: flex;
  justify-content: center;
  align-items: center;
}
.enlace a{
  font-size: 30px;
  margin: 30px;
}
  .subtitulo{
    display: flex;
    align-items: center;
}
.subtitulo{
  font-size: 40px;
  font-weight: bold;
  color: #668cb2;
  margin:20px;
}
.conten{
  display: flex;
  justify-content: center;
  align-items: center;
}
.conten img{
  width: 500px;
  margin: 20px;
  margin-right:50px;
}
.conten p{
  font-size: 30px;
  color: #003366;
  text-align:justify;
  margin-left:50;
  margin-right:50;
}